@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

body {
    margin: 0;
    background: transparent;
    font-family: "Inter", sans-serif;
}

#app {
    width: 100%;
    height: 100%;
}


